export DIALOG_URL="https://chat.robotcodelab.com/api/v4/actions/dialogs/open"
export SUBMIT_CREATE_URL="http://ec2-3-143-170-165.us-east-2.compute.amazonaws.com:3000/submitcreate"
export SUBMIT_DEPLOY_URL="http://ec2-3-143-170-165.us-east-2.compute.amazonaws.com:3000/submitdeploy"
export TEAMBOTTOKEN=""